#  ===> MongoDB configuration <===
PORT= # server port
MONGODB_URL= # MongoDB cluster host
MONGODB_USER= # MongoDB username
MONGODB_PASSWORD= # MongoDB password
MONGODB_DB= # MongoDB database

# ===> SMTP email configuration <===
SMTP_HOST= # SMTP server host
SMTP_PORT= # SMTP server port
SMTP_USER= # SMTP username
SMTP_PASSWORD= # SMTP password or app-specific password
SMTP_FROM= # default "from" email address

# ===> security & app configuration <===
JWT_SECRET= # secret key for signing JWT tokens
APP_DOMAIN= # application base URL

# ===> cloudinary auth <===
CLOUD_NAME= # cloudinary cloud name
API_KEY= # cloudinary api key
API_SECRET= # cloudinary api secret